Source: sapphire-pound25
Section: net
Priority: extra
Maintainer: Joseph Gooch <mrwizard@k12system.com>
Build-Depends: debhelper (>= 7), libssl-dev (= 1.0.1e-2+deb7u3), autotools-dev, libpcre3-dev, openssl, libtcmalloc-minimal0, libz-dev, perl
Standards-Version: 3.8.4
Homepage: http://www.apsis.ch/pound/

Package: sapphire-pound25
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: reverse proxy, load balancer and HTTPS front-end for Web servers
 Pound was developed to enable distributing the load among several Web-servers
 and to allow for a convenient SSL wrapper for those Web servers that do not
 offer it natively.
 This package has specific modifications that work with the Sapphire Suite of
 products distributed by K12 Systems. (www.k12system.com)

